# libusb1 monitors USB devices
libusb1==3.0.0

# gphoto2 is a library to access cameras (but not mass storage devices)
gphoto2==2.3.4

# sh simplifies shell commands 
sh==2.0.4

# For the path monitoring
watchdog==3.0.0

# Touchphat is a pHat with buttons: https://shop.pimoroni.com/products/touch-phat
touchphat==0.0.2

git+https://github.com/bezineb5/lycheesync.git@perf_optimizations_laravel

# For the security method
werkzeug==2.3.6
